.wrapper {
    // outline: 1px solid red;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    max-width: 33vw;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: space-between;
}
